body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    text-align: center;
}

header {
    background-color: #333;
    color: white;
    padding: 20px;
}

#skills-container {
    display: flex;
    justify-content: space-around;
    margin: 20px;
}

.skill {
    background-color: #007BFF;
    color: white;
    padding: 20px;
    border-radius: 8px;
    width: 200px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.skill:hover {
    transform: scale(1.05);
}

#details {
    margin-top: 20px;
    padding: 10px;
    background-color: #1e4d7b;
    border: 2px solid purple;
    border-radius: 8px;
    box-shadow: 5px 5px 5px yellow;
    display: inline-block;
    width: 60%;
}

#skill-details {
    font-size: 18px;
    color: white;
}
